__pycache__/
.DS_Store
.ipynb_checkpoints/
.venv
.vscode
postgres-data
playbook.retry
.vagrant

/.idea/
/db.sqlite3
/venv/
/node_modules/
/static/
/dist/
/django_env
/alcazard/
/scratch/
/docs/_build/

/plugins/*
!/plugins/redacted/
!/plugins/bibliotik/
!/plugins/release_matching/
/plugins/**/dist/
