@import '~antd/lib/style/themes/default.less';

.header-container {
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.header-item {
  padding: 16px;
}

.header-button {
  cursor: pointer;
  color: @link-color;
  padding: 16px;
  transition: all @animation-duration-base ease;

  &:hover {
    background: #f5f5f5;
  }
}

.header-spacer {
  flex-grow: 1;
}
